
<div class="dialog">
    <h2 mat-dialog-title>{{'DIALOG.TITLE' | translate}}</h2>
<mat-dialog-content>
    <input class="email" type ='text' placeholder="{{'DIALOG.EMAIL' | translate}}"><br />
    <input class="password" type ='text' placeholder="{{'DIALOG.PASSWORD' | translate}}"><br />
    <button class="sign">{{'DIALOG.BUTTONSIGN' | translate}}</button>
</mat-dialog-content>

<mat-dialog-actions >
    <button class="action" mat-button mat-dialog-close >{{'DIALOG.BUTTONCLOSE' | translate}}</button>
</mat-dialog-actions>
</div>