<mat-card class="mat-elevation-z4">
<div *ngIf="opp">
    <h1>{{'DETAIL.TITLE'| translate}}</h1>
    <h1>{{opp.name |uppercase}}</h1>
        <div class="opp-form">
        <label for="opp-name">{{'DETAIL.OPPNAME'| translate}}: </label>
        <input id="opp-name" [(ngModel)]="opp.name" placeholder="Name" required> 
        </div>

        <div class="opp-form">
        <label for="opp-description">{{'DETAIL.OPPDESCRIPTION'| translate}}: </label>
        <input id="opp-description" [(ngModel)]="opp.description" placeholder="Description"  required> 
        </div>
    <button type="button" (click)="goBack()">{{'DETAIL.BACK'| translate}}</button>

    <button type="button" (click)="save()">{{'DETAIL.SAVE'| translate}}</button>

</div>
</mat-card>