.notice-panel {
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-left: 8px solid transparent;
    border-radius: 4px;
    
    text-align: center;
    width: auto;
    box-sizing: border-box;
    color: #856404;
    background-color: #fff3cd;
}
.content {
    font-size: 1rem;
}


@media (max-width: 600px) { 
    .notice-panel{
        font-size: 1rem;
    }
 }