<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="7px grid">

    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="example-card mat-elevation-z4">
    <mat-card-header>
    <mat-card-title>Basic Onboarding Role</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Current Status is APPROVED</p>
      <p>2 Completed tasks</p>
      <p>0 Started tasks</p>
      <p>2 Pending tasks</p>
    </mat-card-content>

    <mat-divider inset></mat-divider>
     
    <mat-card-footer>
        <a routerLink="/home">more detail</a><br />
        <a routerLink="/home">Basic Onboarding Role</a>
    </mat-card-footer>
    </mat-card>
    </div>

    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="example-card mat-elevation-z4">
    <mat-card-header>
    <mat-card-title>Basic Role</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p>Current Status is APPROVED</p>
      <p>1 Completed tasks</p>
      <p>3 Started tasks</p>
      <p>0 Pending tasks</p>
    </mat-card-content>
  
    <mat-divider inset></mat-divider>
       
    <mat-card-footer>
        <a routerLink="/home">more detail</a><br />
        <a routerLink="/home">Basic Role</a>
    </mat-card-footer>
    </mat-card> 
  </div>

  </div>
</div>

   
