
.content {
    padding: 16px;
}

.content > mat-card {
    width:200px;
    
    
}

mat-card-header{
    background-color: rgb(207, 243, 183) ;
    padding:5px ;
}
  
  
  
mat-card-content{
    padding:5px;
}

mat-card {
    padding: 0;
}

mat-card-footer {
    font-size: 1rem;
    margin-left: 60%;
}

