
.content {
    padding: 16px;
}

.content > mat-card {
    width:200px;
    
    
}

.mat-card-header{
    background-color: rgb(207, 243, 183) !important;
    padding:5px !important;
}
  
  
  
.mat-card-content{
    padding:5px !important;
}

mat-card-footer {
    font-size: 1rem;
    margin-left: 60%;
}

