mat-toolbar {
    background: #004a9f;
    color: white;
    padding-right:90px;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


mat-sidenav-container {
    height: calc(100vh - 65px);
    margin:0px;
}

router-outlet {
    margin:0px;
}
.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-left: 5px;
    color:rgb(204, 233, 233);

}


.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.example-spacer {
  flex: 1 1 auto;
}