

<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="language icon-button with language icon">
      <mat-icon>language</mat-icon>
    </button>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
       
        <mat-nav-list>
        <img class="avatar mat-elevation-z8" src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" />
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
           <a mat-list-item [routerLink]="['home']">
            <mat-icon>home</mat-icon>
           </a>
            <span>Home</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a  mat-list-item [routerLink]="['profle']">
            <mat-icon>person</mat-icon>
            </a>
            <span>Profile</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a mat-list-item [routerLink]="['opps']">
            <mat-icon>view_list</mat-icon>
            </a>
            <span>Opportunities</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a mat-list-item [routerLink]="['roles']">
            <mat-icon>info</mat-icon>
            </a> 
            <span>Roles</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a mat-list-item [routerLink]="['events']">
            <mat-icon>events</mat-icon>
            </a>
            <span>Events</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a mat-list-item [routerLink]="['calendar']">
            <mat-icon>date_range</mat-icon>
            </a>
            <span>Calendar</span>
        </button>
    </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>