<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>{{'MENU.LOGO' | translate}}</span>
    <span class="example-spacer"></span>
    <mat-icon>language</mat-icon>

    <select name='langChoose' #langChoose [(ngModel)]='currentLang' class="form-select" (change)="onLangChange(langChoose.value)">
        <option *ngFor="let lang of languages" value="{{lang.lang}}">{{lang.name}}</option>
    </select>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" role="navigation" aria-label="Main" alt="profile picture">
       
        <img class="avatar mat-elevation-z8" src="./assets/images/mini.jpg" />
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
           <a routerLink="home" role=link>
            <mat-icon>home</mat-icon>
           </a>
            <span>{{'MENU.HOME' | translate}}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a routerLink="/profile" role=link>
            <mat-icon>person</mat-icon>
            </a>
            <span>{{'MENU.PROFILE' | translate}}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a  routerLink="opps" role=link>
            <mat-icon>view_list</mat-icon>
            </a>
            <span>{{'MENU.OPPORTUNITIES' | translate}}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a  routerLink="roles" role=link>
            <mat-icon>info</mat-icon>
            </a> 
            <span>{{'MENU.ROLES' | translate}}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a  routerLink="events" role=link>
            <mat-icon>events</mat-icon>
            </a>
            <span>{{'MENU.EVENTS' | translate}}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <a  routerLink="calendar" role=link>
            <mat-icon>date_range</mat-icon>
            </a>
            <span>{{'MENU.CALENDAR' | translate}}</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
