<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>{{'EVENTS.CURRENT'| translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
  
      <div  fxLayout="column" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="example-card mat-elevation-z4">
      <img mat-card-image src="./../../assets/images/dog.jpg" alt="dog">
      <mat-card-header>
      <mat-card-title>{{'EVENTS.FIRST.TITLE'| translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>Is life a little boring? Fed up of the same old view out of the window?  It’s definitely time to try something new!</p>

        <p> We have residential placements available at some well-loved hostels. City, country or coastal, the choice is yours! Our hostel/student placements are perfect if you would like to gain hospitality experience, complete a work placement as part of your course of study or simply get away from home and lend a hand. </p>
            
        <p>Hostel Placement volunteers assist the team of staff with tasks including serving meals, housekeeping and reception.  Our friendly teams will give you a warm welcome and support you throughout your volunteering.  You don't need any experience - just enthusiasm and a willingness to get involved! </p> 
            
        <p>Best of all, in your free time you can visit the local attractions or explore the countryside near the hostel.</p>
            
      </mat-card-content>
      <mat-divider inset></mat-divider>
       
      <mat-card-footer class="card-footer">
          <a routerLink="/home">{{'EVENTS.LINK' | translate}}</a><br />
      </mat-card-footer>
      </mat-card>
      </div>
  
      <div  fxLayout="column" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="example-card mat-elevation-z4">
      <img mat-card-image src="./../../assets/images/cycling.jpg" alt="cycling">
      <mat-card-header>
      <mat-card-title>{{'EVENTS.SECOND.TITLE'| translate}}</mat-card-title>
      </mat-card-header>

        <mat-card-content class="card-content">
          <p>Is life a little boring? Fed up of the same old view out of the window?  It’s definitely time to try something new!</p>
  
          <p> We have residential placements available at some well-loved hostels. City, country or coastal, the choice is yours! Our hostel/student placements are perfect if you would like to gain hospitality experience, complete a work placement as part of your course of study or simply get away from home and lend a hand. </p>
              
          <p>Hostel Placement volunteers assist the team of staff with tasks including serving meals, housekeeping and reception.  Our friendly teams will give you a warm welcome and support you throughout your volunteering.  You don't need any experience - just enthusiasm and a willingness to get involved! </p> 
              
          <p>Best of all, in your free time you can visit the local attractions or explore the countryside near the hostel.</p>
              
          <p>Placements are for 2-8 weeks.  Accommodation is provided and travel expenses up to £105.</p> 
              
          <p>You need to be aged 18 or over to apply for this role.</p>
              
          <p>Once you have applied the Hostel Manager will be in touch to arrange a suitable time for an informal telephone interview.</p>

          <p>Placements are for 2-8 weeks.  Accommodation is provided and travel expenses up to £105.</p> 
            
          <p>You need to be aged 18 or over to apply for this role.</p>
            
          <p>Once you have applied the Hostel Manager will be in touch to arrange a suitable time for an informal telephone interview.</p>
          
        </mat-card-content>
    
        <mat-divider inset></mat-divider>
         
        <mat-card-footer class="card-footer">
            <a routerLink="/home">{{'EVENTS.LINK' | translate}}</a><br />
        </mat-card-footer>
        </mat-card>
        </div>
    
        <div  fxLayout="column" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-card class="example-card mat-elevation-z4">
            <img mat-card-image src="./../../assets/images/volunteer.jpg" alt="volunteer">
            <mat-card-header>
            <mat-card-title>{{'EVENTS.THIRD.TITLE'| translate}}</mat-card-title>
            </mat-card-header>
        
            <mat-card-content class="card-content">
              <p>Is life a little boring? Fed up of the same old view out of the window?  It’s definitely time to try something new!</p>
      
              <p> We have residential placements available at some well-loved hostels. City, country or coastal, the choice is yours! Our hostel/student placements are perfect if you would like to gain hospitality experience, complete a work placement as part of your course of study or simply get away from home and lend a hand. </p>
                  
              <p>Hostel Placement volunteers assist the team of staff with tasks including serving meals, housekeeping and reception.  Our friendly teams will give you a warm welcome and support you throughout your volunteering.  You don't need any experience - just enthusiasm and a willingness to get involved! </p> 
                  
              <p>Best of all, in your free time you can visit the local attractions or explore the countryside near the hostel.</p>
                  
              <p>Placements are for 2-8 weeks.  Accommodation is provided and travel expenses up to £105.</p> 
                  
              <p>You need to be aged 18 or over to apply for this role.</p>
                  
              
              
            </mat-card-content>
        
            <mat-divider inset></mat-divider>
             
            <mat-card-footer class="card-footer">
                <a routerLink="/home">{{'EVENTS.LINK' | translate}}</a><br />
            </mat-card-footer>
            </mat-card>
            </div>
        
        <div  fxLayout="column" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-card class="example-card mat-elevation-z4">
            <img mat-card-image src="./../../assets/images/work.jpg" alt="work">
            <mat-card-header>
            <mat-card-title>{{'EVENTS.FOURTH.TITLE'| translate}}</mat-card-title>
            </mat-card-header>
            
            <mat-card-content class="card-content">
                  <p>Is life a little boring? Fed up of the same old view out of the window?  It’s definitely time to try something new!</p>
          
                  <p> We have residential placements available at some well-loved hostels. City, country or coastal, the choice is yours! Our hostel/student placements are perfect if you would like to gain hospitality experience, complete a work placement as part of your course of study or simply get away from home and lend a hand. </p>
                      
                  <p>Hostel Placement volunteers assist the team of staff with tasks including serving meals, housekeeping and reception.  Our friendly teams will give you a warm welcome and support you throughout your volunteering.  You don't need any experience - just enthusiasm and a willingness to get involved! </p> 
                      
                  <p>Best of all, in your free time you can visit the local attractions or explore the countryside near the hostel.</p>
                      
                  <p>Placements are for 2-8 weeks.  Accommodation is provided and travel expenses up to £105.</p> 
                      
                  <p>You need to be aged 18 or over to apply for this role.</p>
                      
                  <p>Once you have applied the Hostel Manager will be in touch to arrange a suitable time for an informal telephone interview.</p>

                  <p>Placements are for 2-8 weeks.  Accommodation is provided and travel expenses up to £105.</p> 
            
                  <p>You need to be aged 18 or over to apply for this role.</p>
            
                  <p>Once you have applied the Hostel Manager will be in touch to arrange a suitable time for an informal telephone interview.</p>
                  
            </mat-card-content>
            
            <mat-divider inset></mat-divider>
                 
            <mat-card-footer class="card-footer">
                <a routerLink="/home">{{'EVENTS.LINK' | translate}}</a><br />
                </mat-card-footer>
                </mat-card>
                </div>

       <div  fxLayout="column" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="example-card mat-elevation-z4">
      <img mat-card-image src="./../../assets/images/mini.jpg" alt="minions">
      <mat-card-header>
      <mat-card-title>{{'EVENTS.FIFTH.TITLE'| translate}}</mat-card-title>
      </mat-card-header>
  
      <mat-card-content class="card-content">
        <p>Is life a little boring? Fed up of the same old view out of the window?  It’s definitely time to try something new!</p>

        <p> We have residential placements available at some well-loved hostels. City, country or coastal, the choice is yours! Our hostel/student placements are perfect if you would like to gain hospitality experience, complete a work placement as part of your course of study or simply get away from home and lend a hand. </p>
            
        <p>Hostel Placement volunteers assist the team of staff with tasks including serving meals, housekeeping and reception.  Our friendly teams will give you a warm welcome and support you throughout your volunteering.  You don't need any experience - just enthusiasm and a willingness to get involved! </p> 
            
        <p>Best of all, in your free time you can visit the local attractions or explore the countryside near the hostel.</p>
            
        <p>Placements are for 2-8 weeks.  Accommodation is provided and travel expenses up to £105.</p> 
            
        <p>You need to be aged 18 or over to apply for this role.</p>
            
        <p>Once you have applied the Hostel Manager will be in touch to arrange a suitable time for an informal telephone interview.</p>
        
      </mat-card-content>
  
      <mat-divider inset></mat-divider>
       
      <mat-card-footer class="card-footer">
          <a routerLink="/home">{{'EVENTS.LINK' | translate}}</a><br />
      </mat-card-footer>
      </mat-card>
      </div>

      <div  fxLayout="column" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="example-card mat-elevation-z4">
        <img mat-card-image src="./../../assets/images/net.jpg" alt="net">
        <mat-card-header>
        <mat-card-title>{{'EVENTS.SIXTH.TITLE'| translate}}</mat-card-title>
        </mat-card-header>
    
        <mat-card-content class="card-content">
          <p>Is life a little boring? Fed up of the same old view out of the window?  It’s definitely time to try something new!</p>
  
          <p> We have residential placements available at some well-loved hostels. City, country or coastal, the choice is yours! Our hostel/student placements are perfect if you would like to gain hospitality experience, complete a work placement as part of your course of study or simply get away from home and lend a hand. </p>
              
          <p>Hostel Placement volunteers assist the team of staff with tasks including serving meals, housekeeping and reception.  Our friendly teams will give you a warm welcome and support you throughout your volunteering.  You don't need any experience - just enthusiasm and a willingness to get involved! </p> 
              
          <p>Best of all, in your free time you can visit the local attractions or explore the countryside near the hostel.</p>
              
          
        </mat-card-content>
    
        <mat-divider inset></mat-divider>
         
        <mat-card-footer class="card-footer">
            <a routerLink="/home">{{'EVENTS.LINK' | translate}}</a><br />
        </mat-card-footer>
        </mat-card>
        </div>

    </div>
  </div>
</mat-card-content>
</mat-card>